{% extends "sliced/layout.html" %}
{% load static %}

{% block body %}
<div class="container p-2 shadow">
    <h1 class="">ADD DISEASE</h1>

    <form class="mt-3 p-4" action="{% url 'edit-disease' data.id %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Name</label>
          <div class="col-md-9">
            <input type="text" name="dis" class="form-control" id="inputPassword" placeholder="name" value="{{data.name}}">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>


    </form>
</div>
{% endblock %}