{% extends  "sliced/layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-8 my-2  mx-auto bg-info">
            <h1>ADD DISEASE NAME</h1>
            <form action="{% url 'edit-disease' data.id %}" method="post">
                {% csrf_token %}
                <div class="col-lg-8  mx-auto ">
                <input type="text" name="dis" value = "{{data.name}}" placeholder=" Enter Name">
                </div>
                </BR>
                <div class="col-lg-8  mx-auto ">
                <button type="submit" class="btn-primary">Submit</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}

