{% extends 'sliced/layout.html' %}
{% load static %}

{% block body %}

<div class="container">
        <h1>ALL MEDICINES</h1>
        <a href="{% url 'add_medicine' %}" class="btn btn-primary mb-4">Add Medicines</a>
        <table class="table table-bordered mt-3 shadow " >
        <tr>
            <th>Id</th>
            <th>Disease</th>
            <th>Name</th>
            <th>Image</th>
            <th>PRICE</th>
            <th>Mfg Date</th>
            <th>Expiry Date</th>
            <th>Manufactured by</th>
            <th>Stock</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% if data|length > 0 %}
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.Disease_id.name}}</td>
            <td>{{i.Name}}</td>
            <td>
                <img src="{{i.Image.url}}" alt="" height="200px" width="200px">
            </td>
            <td>{{i.Price}}/-</td>
            <td>{{i.MfgDate}}</td>
            <td>{{i.Expirydate}}</td>
            <td>{{i.ManufacturedBy}}</td>
            <td>{{i.stock}}</td>
            <td>{{i.Description}}</td>
            <td>
                <a href="{% url 'edit-medicine' i.id %}">
                    <button class="btn btn-dark">Edit</button>
                </a>
            </td>
            <td>
                <a href="{%  url 'deletemedicine' i.id %}">
                    <button class="btn btn-dark">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="12"> No data to show yet.</td>
            </tr>
        {% endif %}
    </table>
</div>
{% endblock%}